@model Coso

<h1>Create New Cơ sở</h1>
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Tencs" class="control-label"></label>
        <input asp-for="Tencs" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Diachi" class="control-label"></label>
        <input asp-for="Diachi" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
