@model Coso

<h1>Xóa cơ sở</h1>

<h3>Bạn có chắc muốn xóa cơ sở này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Mã cơ sở</dt>
        <dd>@Model.Macs</dd>
        <dt>Tên cơ sở</dt>
        <dd>@Model.Tencs</dd>
        <dt>Địa chỉ</dt>
        <dd>@Model.Diachi</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Macs" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a href="@Url.Action("Index")">Hủy</a>
    </form>
</div>
