@model Coso

<h1>Edit Cơ sở</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Macs" />
    <div class="form-group">
        <label asp-for="Tencs" class="control-label"></label>
        <input asp-for="Tencs" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Diachi" class="control-label"></label>
        <input asp-for="Diachi" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
