@{
    ViewData["Title"] = "Create Phieu sua";
}
@using ThietBiDienTu_2.Areas.Admin.ViewModels
@model CreatePSViewModel
@section naviheader{
    <div class="header-divider"></div>
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/HomeAdmin/Index">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="/Admin/Phieusua/DanhsachPhieuSua">Danh sách phiếu sửa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cập nhật phiếu sửa</li>
            </ol>
        </nav>
    </div>
}

<!-- Content Header (Page header) -->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h3 class="card-title">Thêm phiếu sửa</h3>
            </div>

            <div class="col-auto text-center">
                <div class="card-tools">
                    <a class="btn btn-primary btn-sm submitButton" asp-action="CreatePsFinal" asp-controller="Phieusua">
                        Tạo mới
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
            <h3 class="text-center">Danh sách thiết bị</h3>
            <div id="showChoosen">
                <partial name="_PartialViewShowChoosen" model="Model"/>
            </div>

        <div class="row">
            <div class="col-md-6">

                <a asp-action="DanhsachPhieuSua" asp-controller="Phieusua" class="btn btn-secondary btn-sm">Quay lại</a>

            </div>
            <div class="col-md-6">
                <div class="card-tools float-right">
                    <a class="btn btn-primary btn-sm submitButton" asp-action="CreatePsFinal" asp-controller="Phieusua">
                        Tạo mới
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer"></div>
<style>
    .thumbnail-image {
        max-width: 60px; /* Adjust the maximum width as needed */
        max-height: 60px; /* Adjust the maximum height as needed */
    }
</style>