@model ThietBiDienTu_2.Models.Dongthietbi

@{
    ViewData["Title"] = "Create";
}

@section naviheader{
    <div class="header-divider"></div>
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/HomeAdmin/Index">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "DongThietBi", new { area = "Admin" })">Dòng thiết bị</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thêm dòng thiết bị</li>
            </ol>
        </nav>
    </div>
}

<form asp-action="CreateTool" asp-controller="DongThietBi" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            <h3>Thêm dòng thiết bị</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Left Column for Image -->
                <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
                    <img src="~/images/no_images.jpg" id="imgProduct" class="img-fluid" alt="Product Image"
                         style="border:solid 2px #ccc; max-height:308px;max-width:308px; border-radius:4px;">
                    <div class="input-group mt-3" style="width:308px">
                        <input asp-for="hinhanh" class="form-control" type="file" id="imgInput" onchange="previewImage(event)" />
                        <input asp-for="Hinhanh" value="123" hidden/>
                    </div>
                </div>

                <!-- Right Column for Form -->
                <div class="col-md-6">
                    <div class="bs-stepper linear">
                        <div class="bs-stepper-content">
                                <!-- your steps content here -->
                                <div class="form-group mb-2">
                                    <label asp-for="Tendongtb" class="mb-2"><strong>Tên dòng thiết bị<span class="text-danger"> *</span></strong></label>
                                    <input asp-for="Tendongtb" class="form-control" />
                                    <span asp-validation-for="Tendongtb" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-2">
                                    <label asp-for="Soluong" class="form-label"><strong>Số lượng<span class="text-danger"> *</span></strong></label>
                                    <input asp-for="Soluong" class="form-control" />
                                    <span asp-validation-for="Soluong" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Mota" class="control-label"><strong>Mô tả</strong></label>
                                    <input asp-for="Mota" class="form-control" />
                                    <span asp-validation-for="Mota" class="text-danger"></span>
                                </div>

                                <div class="form-group mt-3">
                                <button type="submit" class="btn btn-primary">Tạo</button>
                                <a asp-action="Index" class="btn btn-secondary">Trở lại</a>  
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>




@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Đã thêm thành công"]
    </div>
}
<script>
    function previewImage(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function () {
            var imgElement = document.getElementById("imgProduct");
            imgElement.src = reader.result;
        };
        reader.readAsDataURL(input.files[0]);
    };
</script>

