@model ThietBiDienTu_2.Models.Dongthietbi

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-center mt-4 mb-4">THÊM DÒNG THIẾT BỊ</h2>


<hr />
@section naviheader{
    <div class="header-divider"></div>
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/HomeAdmin/Index">Home</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "DongThietBi", new { area = "Admin" })">Dòng thiết bị</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thêm dòng thiết bị</li>
            </ol>
        </nav>
    </div>
}
<div class="row">
    <div class="col-md-6">
        <!-- Sử dụng col-md-6 cho kích thước cột rộng hơn một chút -->
        <form asp-action="CreateTool" asp-controller="DongThietBi" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tendongtb" class="form-label">Tên Sản Phẩm</label>
                <input asp-for="Tendongtb" class="form-control " />
                <span asp-validation-for="Tendongtb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="form-label">Số lượng</label>
                <input asp-for="Soluong" class="form-control " />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="form-label">Mota</label>
                <input asp-for="Mota" class="form-control " />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Hinhanh" class="form-label">Hình ảnh</label>
                <input asp-for="Hinhanh" class="form-control" type="file" />
                
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">  
                    <svg class="icon icon-lg">
                        <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-plus")"></use>
                    </svg>
                    <!-- Text hoặc label cho nút (nếu cần) -->
                </button>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">
        <svg class="icon icon-lg">
            <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-arrow-circle-left")"></use>
        </svg>
    </a>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Đã thêm thành công"]
    </div>
}

