
<h1>Rent controller here </h1>
<div class="text-center">
    <h1>Change NgayDat in home Index the value here will appear</h1>
    @if (ViewBag.NgayDat != null)
    {

        <div class="alert alert-success" role="alert">
            <h2>NgayDat: @ViewBag.NgayDat</h2>
        </div>
    }

</div>