@model ThietBiDienTu_2.Models.Nganh

<h2>Xác nhận xóa Ngành</h2>

<h3>Bạn có chắc chắn muốn xóa Ngành này không?</h3>
<div>
    <h4>Ngành</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Mã Ngành</dt>
        <dd class="col-sm-10">@Model.Manganh</dd>

        <dt class="col-sm-2">Tên Ngành</dt>
        <dd class="col-sm-10">@Model.Tennganh</dd>
    </dl>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Manganh" />
    <input type="submit" value="Xóa" class="btn btn-danger" /> |
    <a href="@Url.Action("Index")">Hủy</a>
</form>
