@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Khoa>

<script>
    $(document).ready(function () {
        var searchStringAjax = null;
        var pageNumber = null;

        $('#searchString').change(function () {
            var string = $(this).val();
            searchStringAjax = string;
            getToController();
        });

        function getToController() {
            $.ajax({
                url: '/admin/Khoa/Index',
                type: 'GET',
                data: {
                    searchString: searchStringAjax,
                },
                success: function (response) {
                    $('#PartialViewKhoa').html(response);
                },
                error: function () {
                    console.log("fail");
                }
            });
        }
    });

</script>
@section naviheader{
    <div class="header-divider"></div>
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/HomeAdmin/Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Danh sách khóa</li>
            </ol>
        </nav>
    </div>
}

@if (TempData["Action"] != null)
{
    <div class="alert alert-success" id="notify">
        <strong>Success!</strong> @TempData["Action"]
    </div>
}

@section searchArea {
    <div class="input-group" style="width:40%">
        <!-- Search bar -->
        <input style="width:30%" name="searchStringKhoa" id="searchString"
               type="search" placeholder="Tìm tên khóa" class="form-control rounded" aria-label="Search">
        @*Id la thuoc tinh phan biet cac html tag*@
        <button class="btn btn-info rounded" type="submit" id="Searchbutton">
            <svg class="icon icon-lg">
                <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-search")"></use>
            </svg>
        </button>
    </div>
}

    <!-- Phân trang -->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h3 class="card-title">Danh sách khóa</h3>
            </div>
            <div class="col-auto">
                <div class="card-tools">
                    <a asp-action="Create" class="btn btn-primary btn-sm">
                        <svg class="icon icon-lg">
                            <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-plus")"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <div class="bs-stepper linear">
            <div class="bs-stepper-content">
                <div id="PartialViewKhoa">
                <partial name="PartialViewKhoa" model="Model" />
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="footer"></div>